<br />
<div class="text-center">
  <p class="navbar-brand"> Email - cooperrholmes@gmail.com </p>
  <br />
  <a href="https://www.linkedin.com/in/cooperholmes/" class="navbar-brand"> LinkedIn</a>
  <a href="https://www.github.com/cooperrholmes/" class="navbar-brand"> GitHub</a>
</div>