<body>
    <div class="center">
      <%= image_tag 'me.jpg', class: 'centera img-fluid' %>
    </div>

    <h1 class="text-center"> Cooper Holmes </h1>
    
    <h2 class="text-center"> Full Stack Web Developer </h2>

    <hr class="grey"/>
    <div class="about-container">
      <div class="about">
        <p class="text-center">
          Lifetime technology enthusiast and student currently looking to work full-time in the field of full stack web development. 
        </p>
        <br />
        <p class="text-center">
          Technical Skills include Ruby, Ruby on Rails, Javascript, GIT, Github, HTML, CSS, Bootstrap, Test-Driven-Development, APIs, JSON, AJAX, AWS, Command Line, Digital Logic, Visual Studio, C++, Computer Hardware, Diagnostic Skills, Effective Written/Verbal Communication, Strong Teamwork Skills
      </div>
    </div>
</body>
<br class="clear" />